In [3]:
import pandas as pd

In [4]:
ratings = pd.read_csv('./data/scores.csv')

u_unique = ratings.user_id.unique()
user2Idx = {o:i+1 for i,o in enumerate(u_unique)}

m_unique = ratings.movie_id.unique()
movie2Idx = {o:i+1 for i,o in enumerate(m_unique)}

ratings.user_id = ratings.user_id.apply(lambda x: user2Idx[x])

ratings.movie_id = ratings.movie_id.apply(lambda x: movie2Idx[x])

ratings.head()

   id  user_id  movie_id  rating                 Date
0   0        1         1       3  1997-12-04 15:55:49
1   1        2         2       3  1998-04-04 19:22:22
2   2        3         3       1  1997-11-07 07:18:36
3   3        4         4       2  1997-11-27 05:02:03
4   4        5         5       1  1998-02-02 05:33:16

In [5]:
from sklearn.model_selection import train_test_split
ratings_train, ratings_val = train_test_split(ratings, test_size=0.2)

In [6]:
n_users = int(ratings.user_id.nunique())
n_movies = int(ratings.movie_id.nunique())
n_users_train = int(ratings_train.user_id.nunique())
n_movies_train = int(ratings_train.movie_id.nunique())
print(n_users, n_movies, n_users_train, n_movies_train)

943 1682 943 1646

In [7]:
#from keras.layers import Embedding, Input, Flatten, Dot
#from keras.regularizers import l2
from keras import Model, Sequential#from keras.constraints import non_neg